[user]
	email = jon@jonfriesen.ca
	name = Jon Friesen
[core]
	editor = nvim
[url "git@github.com:"]
    insteadOf = git://github.com/
	insteadOf = https://github.com/
[alias]
	open = "!f(){ xdg-open `git remote -v | awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#http://#' -e 's@com:@com/@'`| head -n1; }; f"
